@use "../abstract" as *;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  font-size: 100%; // for accessibility purpose
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: red;
}

li {
  list-style: none;
}

a {
  color: hsl(0deg, 100%, 50%);
  text-decoration: none;
}

header {
  margin: rem(16);
}
