@use "../abstract" as *;

body {
  font-weight: 400;

  /* Extend `.$font` in abstract/_fonts.scss */
  font-family: $primary-font;
}

h1,
h2,
h3 {
  margin-block-start: 0;

  font-weight: 700;
  line-height: 1.1;
}

h1,
h2,
p,
h3 {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h4 {
  margin-block: 0;
  margin-inline: 0;
}

/* ******************* *\
 ? #nav typography
\* ******************* */
.nav__pages {
  color: var(--grayish-blue);
  font-size: rem(24);

  transition: color 400ms ease-in-out;

  &:hover {
    color: var(--very-dark-grayish-blue);
  }
  @include breakpoint(large) {
    color: var(--white);
    font-size: clamp(rem(18), 2vw, rem(24));

    &:hover {
      color: var(--grayish-blue);
    }
  }
}

.nav__pages--active {
  color: hsl(0deg, 0%, 0%);
  font-weight: 900;
  font-size: rem(18);
  font-family: $secondary-font;
  text-transform: uppercase;
  @include breakpoint(large) {
    color: hsl(0deg, 0%, 0%);
    font-size: clamp(rem(10), 2vw, rem(14));
  }
}

/* ******************* *\
 ? #nav typography end
\* ******************* */
